<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2>Python Decorator</h2>
        <p>
          데코레이터는 자신이 감싸고 있는 함수가 호출되기 전과 후에 코드를 추가로 실행해준다.
          즉 데코레이터는 자신이 감싸고 있는 함수의 입력 인자, 반환 값, 함수의 오류에 접근할 수 있다.
          함수의 의미를 강화하거나 디버깅을 하거나 함수를 등록하는 등의 일에 유용하게 사용할 수 있다.
          한 번 이해해 놓으면, 다양한 언어 전반에서 데코레이터를 만났을 때 도움이 된다!
        </p>
        <br>
        <h3>백엔드 공부</h3>
        <p>
          Spring, Spring Boot로 시작한 백엔드 공부. 하지만 Java보다는 Python에 더 관심이 생겨 Django와 Flask 공부 진행
        </p>
        <p style="color:blue">
          다음에 계속...
        </p>
      </div>
    </div>
    <!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4>About</h4>
        <p class="mb-0">
          Python 백엔드 개발자입니다.
          <a href="https://github.com/yeseong31">GitHub 페이지</a>에 개발 활동 내역을 올리고 있습니다.
        </p>
      </div>
      <div class="p-4">

      </div>
    </aside>
    <!-- /.blog-sidebar -->
  </div>
  <!-- /.row -->
</main>