<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form method="get" action="{{ url_for('login') }}">
  <div style="text-align: center;">
    <h1>로그인</h1>
    ID: <label><input type="text" name="username"/></label><br>
    PW: <label><input type="text" name="password"/></label><br><br>
    <input type="submit"/>
  </div>
</form>
</body>
</html>